* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#dashed-links {
  text-decoration: underline;
}

body * {
  font-family: "Inter", sans-serif;
}

.section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-margin-top {
  margin-top: 30px;
}

.container {
  width: 1120px;
  position: relative;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  gap: 16px;
}

.nav-link a {
  color: black;
}

.nav-discord a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: black;
}

.hero-margin-top {
  margin-top: 40px;
}

.hero-background {
  width: 1229px;
  height: 509px;
  border-radius: 24px;
  position: absolute;
  background: #f1f0ff;
}

.hero-background img {
  position: absolute;
  left: 509px;
}

.div-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 131px 0px 131px 0px;
}

.title-hero {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.div-1 h1 {
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
}

.div-1 p {
  line-height: 150%;
}

.italic-purple {
  font-style: italic;
  color: #564cea;
}

.italic {
  font-style: italic;
}

.purple-text {
  color: #564cea;
}

.white-text {
  color: #ffffff;
}

.opacity {
  opacity: 0.7;
}

.buttons-hero {
  display: flex;
  gap: 18px;
}

.buttons-hero a {
  display: flex;
  border-radius: 4px;
  padding: 10px 16px 10px 20px;
}

.button-filled {
  display: flex;
  gap: 8px;
  color: #ffffff;
  background: #564cea;
  font-weight: 500;
}

.button-transparent {
  display: flex;
  gap: 8px;
  background: transparent;
  color: black;
  border: 1px solid #000000;
  font-weight: 500;
}

.info-margin-top {
  margin-top: 60px;
}

.info-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.8;
  text-align: center;
}

.images-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.line1-margin-top {
  margin-top: 60px;
}

.line2-margin-top {
  margin-top: 80px;
}

.line hr {
  opacity: 0.1;
  border-style: solid;
  border-color: #000000;
}

.details-margin-top {
  margin-top: 80px;
}

.details-wrap {
  display: flex;
  gap: 96px;
}

.div-details-img {
  width: 50%;
  display: flex;
  align-items: center;
}

.iconsize {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 28px;
  height: 28px;
}

.div-details-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.config-details-pai {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.config-details-filhos {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 8px;
}

.t1p1 h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
}

.config-details-filhos h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.server-margin-top {
  margin-top: 120px;
}

.servertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.servertext h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
}

.servertext p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.server-list {
  margin-top: 50px;
  padding: 0 20px;
}

.server-list-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.server-white {
  padding: 0px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.server-purple {
  padding: 0px 20px 20px;
  border: 1px solid #564cea;
  border-radius: 8px;
  background: #564cea;
}

.servername {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 27px 0px 21px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.serveprice-description h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.serveprice-description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.server-details-1 {
  margin-top: 16px;
}

.details-white {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.details-list {
  display: flex;
  gap: 8px;
}

.server-details-1 p {
  line-height: 130%;
}

.opacity-server-details {
  opacity: 0.7;
}

.bold-server-details {
  font-weight: 500;
}

.hyperv-optional {
  margin-top: 14px;
}

.bold-hyperv {
  font-weight: 600;
}

.hyperv p {
  line-height: 200%;
}

.hyperv-text {
  display: flex;
  justify-content: space-between;
}

.button-white {
  background: #d9d7f7;
  border-radius: 6px;
  padding: 10px;
  margin-top: 40px;
}

.button-purple {
  border-radius: 6px;
  padding: 10px;
  margin-top: 40px;
  background: #ffffff;
}

.button-white a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}

.button-purple a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}

.higher-specs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.hspecs-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.accepted-payments {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

@media screen and (max-width: 768px) {
  .section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .container {
    width: 100%;
  }

  .nav-margin-top {
    margin-top: 20px;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
  }

  .hero-margin-top {
    margin-top: 40px;
    padding: 30px 0px;
  }

  .hero-background {
    height: 100%;
  }

  .hero-background img {
    width: 100%;
    height: 100%;
    left: 0;
  }

  .div-1 {
    margin: auto 0px;
    width: 100%;
  }

  .div-1 h1 {
    font-size: 28px;
    text-align: center;
  }

  .div-1 p {
    font-size: 16px;
    text-align: center;
  }

  .buttons-hero {
    display: flex;
    justify-content: center;
  }

  .info-margin-top {
    margin-top: 40px;
  }

  .images-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .line1-margin-top {
    margin-top: 40px;
  }

  .line2-margin-top {
    margin-top: 40px;
  }

  .details-margin-top {
    margin-top: 40px;
  }

  .details-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .div-details-img {
    width: 100%;
  }

  .div-details-img img {
    max-width: 100%;
    height: auto;
  }

  .iconsize {
    display: flex;
    justify-content: center;
  }

  .div-details-text {
    width: 100%;
  }

  .config-details-pai h1 {
    font-size: 28px;
  }

  .config-details-pai p {
    font-size: 16px;
  }

  .config-details-filhos h3 {
    font-size: 18px;
    font-weight: 500;
  }

  .config-details-filhos p {
    font-size: 16px;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .servers-wrap {
    display: flex;
    flex-direction: column;
  }

  .servertext {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .server-list-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hspecs-text {
    text-align: center;
  }
}
